<%= render "shared/second-header"%>
<div class="login-background">
  <div class="box">
    <div class="box-inner">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <h1>Member Login</h1>

        <div class='login-flash-message'>
        <%= flash[:notice] %>
        <%= flash[:alert] %>
        </div>

        <div class="box-email">
          <%= f.label :email, "Email" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <div class="box-password">
          <div class="a-row">
            <div class="column-left">
              <%= f.label :password, "Password" %>
            </div>
          </div>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>
        <% if devise_mapping.rememberable? %>
            <div class="remember">
              <%= f.check_box :remember_me %>
              <%= f.label :remember, "ログインしたままにする" %>
            </div>
        <% end %>
        <div class="box-login">
          <%= f.submit "ログイン" %>
        </div>
      <% end %>

      <div class="box-newuser">
        <p>Gravyを始めませんか？</p>
        <%= link_to "新規登録", new_user_registration_path %>
      </div>
    </div>
  </div>
</div>