<% if user_signed_in? %>
  <% if current_user.favorited_by?(chef.id) %>
    <div class="heart-icon-align">
    <%= link_to image_tag("star_filled.png"), destroy_favorite_path(chef), method: :DELETE, remote: true %>
    <span class='heart-count-dishes'><%= chef.favorite_chefs.count %></span>
    </div>
  <% else %>
    <div class="heart-icon-align">
      <%= link_to image_tag("star.png"), create_favorite_path(chef), method: :POST, remote: true %>
      <span class='heart-count-dishes'><%= chef.favorite_chefs.count %></span>
    </div>
  <% end %>
<% else %>
  <div id="total_likes_count">
    <div class='heart-btn'>
      <%= image_tag "star.png", :size =>'20x20', class:"heart-icon" %>
      <span class='heart-count'><%= chef.favorite_chefs.count %></span>
    </div>
  </div>
<% end %>

