<%= render "shared/header" %>


<div class="chef__inner">
  <div class="chef__wrapper">
    <h2 class="chef-page-heading">
      <%= "#{@chef.name}シェフのプロフィール"%>
      <% if chef_signed_in? && current_chef.id == @chef.id %>
        <%= link_to 'プロフィールの更新', edit_profile_path(@chef.profile.id), method: :get, class: "post-btn" %> 
      <% end %>
    </h2>
    <div class="chef-show-info">
      <div class='dish-img-content'>
        <%= image_tag @chef.profile.image, class:"dish-box-img" %>
      </div>


      <div>
        <span id="likes-num">お気に入り数</span>
        <div id="chef_<%= @chef.id %>">
          <%= render 'chef', chef: @chef %>
        </div>
        <div>
          <span id="likes-num">総ライク数</span>
          <div id="total_likes_count">
          <%= image_tag "heart_filled.png", :size =>'20x20', class:"heart-icon" %>
          <span class='heart-count'><%= @chef.likes.count %></span>
          </div>
        </div>
      </div>

      <table class="chef-show-table">
        <tbody>
          <tr>
            <th class="table__col1">シェフについて</th>
            <td class="table__col2"><%= @chef.profile.about %></td>
          </tr>
          <tr>
            <th class="table__col1">営業時間</th>
            <td class="table__col2"><%= @chef.profile.business_hour_begin.strftime('%H:%M') %> 〜 <%= @chef.profile.business_hour_end.strftime('%H:%M') %></td>
          </tr>
          <tr>
            <th class="table__col1">提供地域</th>
            <td class="table__col2"><%= @chef.prefecture.name %></td>
          </tr>
          <tr>
            <th class="table__col1">ステータス</th>
            <td class="table__col2"><%= @chef.profile.status.name %></td>
          </tr>
          <tr>
            <th class="table__col1">性別</th>
            <td class="table__col2"><%= @chef.profile.gender.name %></td>
          </tr>
          <tr>
            <th class="table__col1">年代</th>
            <td class="table__col2"><%= @chef.profile.age.name %></td>
          </tr>
          <tr>
            <th class="table__col1">得意ジャンル</th>
            <td class="table__col2"><%= @chef.profile.genre.name %></td>
          </tr>
        </tbody>
      </table>
    
    </div>
    <h2 class="page-heading">
      <%= "#{@chef.name}シェフのメニュー"%>
    </h2>
    <div class="dish-lists">
    <% if @dishes.present? %>
      <% @dishes.each do |dish| %>
        
      <div class='list'>
        <%= link_to dish_path(dish.id) do %>
        <div class='dish-img-content'>
          <%= image_tag dish.image, class: "dish-img" %>
        </div>
        <div class='dish-info'>
          <div>
            <h3 class='dish-name'>
              <%= dish.name %>
            </h3>
            <div class='dish-price'>
              <span><%= dish.price %>円/<%= dish.chef.name %>シェフ</span>
            </div>
          </div>
          <div id="dish_<%= dish.id %>">
            <%= render 'like', dish: dish %>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    <% else %>
      <div class="chef__content__nothing">
        登録された料理がありません
      </div>
    <% end %>
    </div>
  </div>
</div>

<%= render "shared/second-footer" %>
