<div class='footer'>
  <div class='footer-main'>
    <div class='logo'>
      <%= link_to image_tag("gravy_black_logo.png", class:'gravy-logo'), "/" %>
    </div>

    <div class='footer-contents'>
      <div class='details'>
        <h2 class='footer-content-head'>Gravyを使ってみる</h2>
        <ul>
          <li><%= link_to '料理から探す', search_dishes_path, class: "footer-link" %></li>
          <li><%= link_to 'シェフから探す', search_chefs_path, class: "footer-link" %></li>
          <li><%= link_to '地域から探す', '#', class: "footer-link" %></li>
        </ul>
      </div>
      <div class='details'>
        <h2 class='footer-content-head'>Gravyとの連携</h2>
        <ul>
          <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
          <li><%= link_to 'Gravyのガイド', "#", class: "footer-link" %></li>
          <li><%= link_to 'GravyのAPIについて', "#", class: "footer-link" %></li>
        </ul>
      </div>
      <div class='details'>
        <h2 class='footer-content-head'>Gravyについて</h2>
        <ul>
          <li><%= link_to 'Gravy利用規約', "#", class: "footer-link" %></li>
          <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
          <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
          <li><%= link_to '食品衛生法に関する規約', "https://elaws.e-gov.go.jp/document?lawid=322AC0000000233", class: "footer-link" %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyright">
    <p id="privacy"> This site is protected by Privacy Policy and Terms of Service apply.</p>
    <p> © 2021 Gravy Inc.</p>
  </div>
</div>