<header class="header">

  <nav id="nav">
    <ul>
      <% if user_signed_in? %>
        <%= "ようこそ、" + User.find(current_user.id).nickname + "さん" %>
        <li><%= link_to "マイページ", "/users/#{current_user.id}", class: "post-btn" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "post-btn" %></li>
        <li><%= link_to "カートを確認する", "/carts/#{@cart.id}", class: "post-btn" %></li>
        <br>
        <li><%= link_to "料理を探す ≫", "/dishes/search", class: "choice-btn" %></li>
        <li><%= link_to "シェフを探す ≫", "/chefs/search", class: "choice-btn" %></li>
        <li><%= link_to "地域から探す ≫", root_path, class: "choice-btn" %></li>
      <% elsif chef_signed_in? %>
        <%= "ようこそ、" + Chef.find(current_chef.id).name + "さん" %>
        <li><%= link_to "マイページ", "/chefs/#{current_chef.id}", class: "post-btn" %></li>
        <li><%= link_to 'ログアウト', destroy_chef_session_path, method: :delete, class: "post-btn" %></li>
        <li><%= link_to "料理をメニューに追加", "/dishes/new", class: "choice-btn" %></li>
      <% else %>
        <h2>ユーザーの方はこちら</h2>
        <li><%= link_to 'ログイン', new_user_session_path, class: "post-btn" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "post-btn" %></li>
        <h2>シェフの方はこちら</h2>
        <li><%= link_to 'ログイン', new_chef_session_path, class: "post-btn" %></li>
        <li><%= link_to '新規登録', new_chef_registration_path, class: "post-btn" %></li>
      <% end %> 
    </ul>
  </nav>
  <div id="hamburger">
    <span class="inner_line" id="line1"></span>
    <span class="inner_line" id="line2"></span>
    <span class="inner_line" id="line3"></span>
  </div>
  
  <div class ="nav"> 
      <%= link_to image_tag("gravy_logo.png", class: "header-logo"), root_path %>

      <ul class="nav-user">
        <% if user_signed_in? %>
          <li><%= link_to "マイページ", "/users/#{current_user.id}", class: "post-btn" %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "post-btn" %></li>
          <li class="cart-btn"><%= link_to image_tag("basket.png"), "/carts/#{@cart.id}" %></li>
        <% elsif chef_signed_in? %>
          <li><%= link_to "マイページ", "/chefs/#{current_chef.id}", class: "post-btn" %></li>
          <li><%= link_to 'ログアウト', destroy_chef_session_path, method: :delete, class: "post-btn" %></li>
        <% else %>
          <li><%= link_to 'ログイン', new_user_session_path, class: "post-btn" %></li>
          <li><%= link_to '新規登録', new_user_registration_path, class: "post-btn" %></li>
          <li class="cart-btn"><%= link_to image_tag("basket.png"), "/carts/#{@cart.id}" %></li>
        <% end %> 
      </ul>
  </div>

<script>
function hamburger() {
  document.getElementById('line1').classList.toggle('line_1');
  document.getElementById('line2').classList.toggle('line_2');
  document.getElementById('line3').classList.toggle('line_3');
  document.getElementById('nav').classList.toggle('in');
}
document.getElementById('hamburger').addEventListener('click' , function () {
  hamburger();
} );
</script>


</header>