<%= render "shared/second-header"%>

<div class='transaction-contents'>
    <div class='buy-dish-title'>
    <h1 class='transaction-title-text'>
      注文内容の確認
    </h1>
    </div>
    <%# 購入内容の表示 %>
    <div class="order_dishes_list">
      <table class="order-table">
        <thead>
          <th></th>
          <th>料理名</th>
          <th>数量</th>
          <th>小計</th>
        </thead>
        <% @line_items.each do |line_item| %>
        <% dish = line_item.dish %>
        <tbody>
          <td><%= image_tag dish.image,class:"dish-box-img-cart" %></td>
          <td><%= dish.name %></td>
          <td><%= line_item.quantity %></td>
          <td>¥<%= line_item.total_price %></td>
        </tbody>
        <% end %>
      </table>
    </div>
    <div class="return-to-another">
    <%= link_to 'カゴに戻る', "/carts/#{@cart.id}", class:"cart-order-btn" %>
    </div>
    <%# /購入内容の表示 %>

    <%= form_with model: @order, url: orders_path, id: 'charging-form', class: 'transaction-form-wrap',local: true do |f| %>
    
    <%# お届け先の表示 %>
    <div class='shipping-address-form'>
      <div class="buy-dish-title">
        <h1 class='transaction-title-text'>
          お届け先の確認
        </h1>
      </div>
      <div class='shipping-address-info'>
        <table class="buy-dish-table">
          <tbody>
            <tr>
              <th class="table__col1">郵便番号</th>
              <td class="table__col2"><%= @user.zip_code %></td>
            </tr>
            <tr>
              <th class="table__col1">都道府県</th>
              <td class="table__col2"><%= @user.prefecture.name %></td>
            </tr>
            <tr>
              <th class="table__col1">市町村</th>
              <td class="table__col2"><%= @user.district %></td>
            </tr>
            <tr>
              <th class="table__col1">番地(建物名)</th>
              <td class="table__col2"><%= @user.street %></td>
            </tr>
          </tbody>
        </div>
        <table class="buy-dish-table">
          <tbody>
            <tr>
              <th class="table__col1">電話番号</th>
              <td class="table__col2"><%= @user.phone_number %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="buy-dish-subtitle">
        <h1 class='transaction-subtitle-text'>
          お届け先にお間違えはありませんか？
        </h1>
      </div>
      <div class="buy-dish-subtitle">
        <div class="order-choice"><%= link_to "登録情報を修正する", edit_user_registration_path %></div>
      </div>
    </div>
    <%# /お届け先の表示 %>
 
    <%# カード情報の入力 %>
    <% unless @user.card.present? %>
    <div class='buy-dish-title'>
      <h1 class='transaction-title-text'>
        クレジットカード情報入力
      </h1>
    </div>
    <div class='credit-card-form'>
        <%= render 'shared/error_messages', model: f.object %>

        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text">カード情報</label>
            <span class="required">Required</span>
          </div>
          <%= f.text_field :number, class:"input-card-number", id:"card-number", placeholder:" カード番号(半角英数字)", maxlength:"16" %>
          
        </div>
        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text">有効期限</label>
            <span class="required">Required</span>
          </div>
          <div class='input-expiration-date-wrap'>
            <%= f.text_area :exp_month, class:"input-expiration-date", id:"card-exp-month", placeholder:"例)4" %>
            <p>月</p>
            <%= f.text_area :exp_year, class:"input-expiration-date", id:"card-exp-year", placeholder:"例)25" %>
            <p>年</p>
          </div>
        </div>
        <div class="form-group">
          <div class='form-text-wrap'>
            <label class="form-text">セキュリティコード</label>
            <span class="required">Required</span>
          </div>
          <%= f.text_field :cvc,class:"input-security-code", id:"card-cvc", placeholder:"カード背面4桁もしくは3桁の番号", maxlength:"4" %>
        </div>
        <div class="buy-dish-title">
          <h1 class='transaction-subtitle-text'>
            次回以降の注文をよりスピーディに
          </h1>
        </div>
        <div class="buy-dish-subtitle">
          <div class="order-choice"><%= link_to "クレジットカードを登録する", new_card_path %></div>
        </div>
    </div>
    <% else %>
    <%= f.hidden_field :number, class:"input-card-number", id:"card-number", placeholder:" カード番号(半角英数字)", maxlength:"16" %>
    <%= f.hidden_field :exp_month, class:"input-expiration-date", id:"card-exp-month", placeholder:"例)4" %>
    <%= f.hidden_field :exp_year, class:"input-expiration-date", id:"card-exp-year", placeholder:"例)25" %>
    <%= f.hidden_field :cvc,class:"input-security-code", id:"card-cvc", placeholder:"カード背面4桁もしくは3桁の番号", maxlength:"4" %>
    <div class='credit-card-form'>
      <div class='buy-dish-title'>
        <h1 class='transaction-title-text'>
          クレジットカード情報確認
        </h1>
      </div>
      <table class="buy-dish-table">
        <tbody>
          <tr>
            <th class="table__col1">カード番号</th>
            <td class="table__col2"><%= "**** **** **** " + @card[:last4] %></td>
          </tr>
          <tr>
            <th class="table__col1">有効期限</th>
            <td class="table__col2"><%= @card[:exp_year] %>年 <%= @card[:exp_month] %>月</td>
          </tr>
        </tbody>
      </div>
      <table class="buy-dish-table">
      </table>
      <div class="buy-dish-title">
        <h1 class='transaction-subtitle-text'>
          上記のクレジットカードでお間違いありませんか？
        </h1>
      </div>
      <div class="buy-dish-subtitle">
        <div class="order-choice"><%= link_to "クレジットカードを変更する", card_path(@card.id) %></div>
      </div>
    </div>
    <% end %>
    <%# /カード情報の入力 %>

    <%# 支払額の表示 %>
    <div class='dish-payment'>
      <h1 class='dish-payment-title'>
        お支払い金額
      </h1>
      <p class='dish-payment-price'>
        ¥<%= @cart.total_price %>
      </p>
    </div>
    <%# /支払額の表示 %>

    <div class='buy-btn'>
      <%= f.submit "注文を確定" ,class:"buy-yellow-btn" %>
    </div>
    <div class='buy-btn'>
    <%=link_to 'マイページ', "/users/#{current_user.id}", class:"buy-back-btn" %>
    </div>
    <% end %>
</div>

<%= render "shared/second-footer"%>