<%= render "shared/header"%>
<div class="top-space">
</div>


<div class="gravy-home">   
  <div class="gravy-wrap">
    <div class="gravy-text">
      <p class="gravy-copy">隠れた名シェフを発掘しませんか？</p>
      <p class="gravy-search">まずは地域を教えてください</p>
    </div>
  
    <video id="gravy-video" muted autoplay loop>
      <source src="/assets/family_cooking.mp4" type="video/mp4">
    </video>
  </div>

  <div class="mobile-app-intro">
  
  </div> 
</div>

<%# 料理一覧 %>

<div class='dish-contents'>
    <div class="recent-dishes">
      <div>
      <h2 class='title'>最新の料理</h2>
      </div>
      <div>
      <%= link_to '料理から探す', "#", class: "subtitle" %>
      </div>
    </div>
    <div class='dish-lists'>
    <% if @dishes.present? %>
      <% @dishes.each do |dish| %>
        
      <div class='list'>
        <%= link_to dish_path(dish.id) do %>
        <div class='dish-img-content'>
          <%= image_tag dish.image, class: "dish-img" %>
        </div>
        <div class='dish-info'>
          <div>
            <h3 class='dish-name'>
              <%= dish.name %>
            </h3>
            <div class='dish-price'>
              <span><%= dish.price %>円 / <%= dish.chef.name %>シェフ</span>
            </div>
          </div>
          <div id="dish_<%= dish.id %>">
            <%= render 'dish', dish: dish %>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    <% else %>
      <div class='list'>
        <%= link_to '#' do %>
        <%= image_tag "gravy-sauce.jpg", class: "dish-img" %>
        <div class='dish-info'>
          <h3 class='dish-name'>
            料理を投稿しましょう！
          </h3>
        </div>
          <div class='dish-price'>
            <span>1000円/グレイビーシェフ</span>
          </div>
            <div class='heart-btn'>
              <%= image_tag "heart.png", :size =>'20x20', class:"heart-icon" %>
              <span class='heart-count'>0</span>
            </div>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>

<%# /料理一覧 %>

<%# シェフ一覧 %>

<div class='dish-contents'>
    <div class="recent-dishes">
      <div>
      <h2 class='title'>最新のシェフ</h2>
      </div>
      <div>
      <%= link_to 'シェフから探す', "#", class: "subtitle" %>
      </div>
    </div>
    <div class='dish-lists'>
    <% if @chefs.present? %>
      <% @chefs.each do |chef| %>
      <div class='list'>
        <%= link_to chef_path(chef.id) do %>
        <div class='dish-img-content'>
          <% if chef.profile.image.attached? %>
          <%= image_tag chef.profile.image, class: "dish-img" %>
          <% end %>
        </div>
        <div class='dish-info'>
          <div>
            <h3 class='dish-name'>
              <%= chef.name %>シェフ
            </h3>
            <div class='dish-price'>
              <span><%= chef.profile.age.name %><%= chef.profile.gender.name %> / <%= chef.profile.genre.name %>が得意</span>
            </div>
          </div>
          <div class='heart-btn'>
          <%= image_tag "heart.png", :size =>'20x20', class:"heart-icon" %>
          <span class='heart-count'>0</span>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    <% else %>
      <div class='list'>
        <%= link_to '#' do %>
        <%= image_tag "chef-example.jpg", class: "dish-img" %>
        <div class='dish-info'>
          <h3 class='dish-name'>
            料理を投稿しましょう！
          </h3>
          <div class='dish-price'>
            <span>和食/男性</span>
          </div>
            <div class='heart-btn'>
              <%= image_tag "heart.png", :size =>'20x20', class:"heart-icon" %>
              <span class='heart-count'>0</span>
            </div>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>

<%# /シェフ一覧 %>

<%= render "shared/footer" %>
