<%= render "shared/header"%>

<div class = "gravy-home">
  <div class="gravy-wrap">
    <div class="gravy-center">
      <p class="gravy-copy">隠れた名シェフを発掘しませんか？</p>
      <p class="gravy-search">まずは地域を教えてください</p>
      <% if flash[:alert] == '入力予測から選択してください' || flash[:alert] == '日本語で入力してください' %> 
      <p><%= flash[:alert] %></p>
      <% end %>
    </div>
  </div>
    <video id="gravy-video" muted autoplay loop>
      <source src="/assets/family_cooking.mp4" type="video/mp4">
    </video>
</div>

<%= form_tag(search_prefectures_path,:method => 'get') do %>
<div class="area-search-top">
  <%= text_field_tag :search, "", {class: "search-box", id: "search-text", placeholder: "地域を入力"} %>
  <%= submit_tag 'シェフを探す', :name => nil, class:"search-btn" %>
</div>
<% end %>

<div id="mobile-app-intro">
  <div>
  <%= image_tag "gravy_native_logo.png", class:"gravy-native-logo" %>
  </div>
  <div id="native-app-catchcopy">
  スマホでもグレイビー。最高のシェフがここに。
  </div>
  <div>
  <%= link_to image_tag("google-play-badge.png"), "https://play.google.com/store?utm_source=apac_med&utm_medium=hasem&utm_content=Jan0421&utm_campaign=Evergreen&pcampaignid=MKT-EDR-apac-jp-1003227-med-hasem-py-Evergreen-Jan0421-Text_Search_BKWS-BKWS|ONSEM_kwid_43700059014001039_creativeid_481987982099_device_c&gclid=Cj0KCQiA3NX_BRDQARIsALA3fILEit1wU5d-n3ID3c_suAF2XsX7p1CfWlGGWDl3_9KNReqURy9SsJMaAi0EEALw_wcB"%>
  </div>
  <div class="logo-size-trimming">
  <%= link_to image_tag("app-store-badge.png"), "https://www.apple.com/app-store/"%>
  </div>
</div>

<div id="service-introduction">
  <div class="service-introbox">
    <h2>ネットでカンタン注文</h2>
    <%= image_tag "order-from-home.png", class:"gravy-intro-image" %>
    <h2>今すぐ最高の一品をお届けします</h2>
    <%= link_to 'サインアップする', new_user_registration_path, class: "intro-link" %>
  </div>
  <div class="service-introbox">
    <h2>バラエティに富んだ料理たち</h2>
    <%= image_tag "a-variety-of-dishes.png", class:"gravy-intro-image" %>
    <h2>食べたい料理はありませんか？</h2>
    <%= link_to 'シェフのメニューを覗いてみる', search_chefs_path, class: "intro-link" %>
  </div>
  <div class="service-introbox">
    <h2>もうお店は必要ありません</h2>
    <%= image_tag "no-shop-needed.png", class:"gravy-intro-image" %>
    <h2>自宅のキッチンから料理をお客様に</h2>
    <%= link_to 'シェフ用アカウントを作成する', new_chef_registration_path, class: "intro-link" %>
  </div>
</div>

<div class="service-area-visualized">
  <div><h1>Gravyが利用可能な地域</h1></div>
  <div id='map'></div>
  <%= link_to '地域情報を入力する', "#", class: "subtitle" %>
</div>

<%# 料理一覧 %>

<div class='dish-contents'>
    <div class="recent-dishes">
      <div>
      <h2 class='title'>最新の料理</h2>
      </div>
      <div>
      <%= link_to '料理から探す ≫', search_dishes_path, class: "subtitle" %>
      </div>
    </div>
    <div class='dish-lists'>
    <% if @dishes.present? %>
      <% @dishes.each do |dish| %>
        
      <div class='list'>
        <%= link_to dish_path(dish.id) do %>
        <div class='dish-img-content'>
          <%= image_tag dish.image, class: "dish-img" %>
        </div>
        <div class='dish-info'>
          <div>
            <h3 class='dish-name'>
              <%= dish.name %>
            </h3>
            <div class='dish-price'>
              <span><%= dish.price %>円/<%= dish.chef.name %>シェフ</span>
            </div>
          </div>
          <div id="dish_<%= dish.id %>">
            <%= render 'dish', dish: dish %>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    <% else %>
      <div class='list'>
        <%= link_to '#' do %>
        <%= image_tag "gravy-sauce.jpg", class: "dish-img" %>
        <div class='dish-info'>
          <h3 class='dish-name'>
            料理を投稿しましょう！
          </h3>
        </div>
          <div class='dish-price'>
            <span>1000円/グレイビーシェフ</span>
          </div>
            <div class='heart-btn'>
              <%= image_tag "heart.png", :size =>'20x20', class:"heart-icon" %>
              <span class='heart-count'>0</span>
            </div>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>

<%# /料理一覧 %>

<%# シェフ一覧 %>

  <div class='dish-contents'>
    <div class="recent-dishes">
      <div>
      <h2 class='title'>最新のシェフ</h2>
      </div>
      <div>
      <%= link_to 'シェフから探す ≫', search_chefs_path, class: "subtitle" %>
      </div>
    </div>
    <div class='dish-lists'>
    <% if @chefs.present? %>
      <% @chefs.each do |chef| %>
      <div class='list'>
        <%= link_to chef_path(chef.id) do %>
        <div class='dish-img-content'>
          <% if chef.profile.image.attached? %>
          <%= image_tag chef.profile.image, class: "dish-img" %>
          <% end %>
        </div>
        <div class='dish-info'>
          <div>
            <h3 class='dish-name'>
              <%= chef.name %>シェフ
            </h3>
            <div class='dish-price'>
              <span><%= chef.profile.age.name %><%= chef.profile.gender.name %>/<%= chef.profile.genre.name %>が得意</span>
            </div>
          </div>
          <div id="chef_<%= chef.id %>">
          <%= render 'chef', chef: chef %>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    <% else %>
      <div class='list'>
        <%= link_to '#' do %>
        <%= image_tag "chef-example.jpg", class: "dish-img" %>
        <div class='dish-info'>
          <h3 class='dish-name'>
            料理を投稿しましょう！
          </h3>
          <div class='dish-price'>
            <span>和食/男性</span>
          </div>
            <div class='heart-btn'>
              <%= image_tag "star.png", :size =>'20x20', class:"heart-icon" %>
              <span class='heart-count'>0</span>
            </div>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>

<%# /シェフ一覧 %>

<%= render "shared/footer" %>