<%= render "shared/second-header"%>

<%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
<div class="signup-background">
  <div class="signup-wrap">
    <div class="signup-title">
      <h1>ユーザー情報の確認</h1>
    </div>

    <%= render 'shared/error_messages', model: f.object %>
    
    <div class="wrap-inner">
      <div class="box-email">
        <label class="form-text">ニックネーム</label>
        <span class="required">Required</span><br />
        <%= f.text_field :nickname, class:"input-default", id:"nickname", placeholder:"例) gravy太郎", maxlength:"30" %>
      </div>

      <div class="box-email">
        <%= f.label :email %>
        <span class="required">Required</span><br />
        <%= f.email_field :email %>
      </div>

      <div class="box-email">
        <label class="form-text">郵便番号
        </label>
        <span class="required">Required</span><br />
        <%= f.text_field :zip_code, autocomplete: "off", placeholder:"例) 000-0000" %>
      </div>

      <div class="box-email">
        <label class="form-text">都道府県</label>
        <span class="required">Required</span><br />
        <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"prefecture"}) %>
      </div>

      <div class="box-email">
        <label class="form-text">市町村</label>
        <span class="required">Required</span><br />
        <%= f.text_field :district, autocomplete: "off" %>
      </div>

      <div class="box-email">
        <label class="form-text">番地(建物名)</label>
        <span class="required">Required</span><br />
        <%= f.text_field :street, autocomplete: "off" %>
      </div>

      <div class="box-email">
        <label class="form-text">電話番号</label>
        <span class="required">Required</span><br />
        <%= f.text_field :phone_number, autocomplete: "off" %>
      </div>
      
      <div class="box-password">
        <label class="form-text">現在のパスワード <i>(更新する場合は入力してください)</i></label>
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>

      </div>
      <div class="box-signup">
        <%= f.submit "更新する" %>
      </div>

        <%= link_to 'マイページ', user_path(current_user.id), class:"cart-order-btn"%>
    </div>
  </div>
</div>
<% end %>